body {
    font-family:Arial, Helvetica, sans-serif; 
    background-color: rgb(255, 226, 194);
}
table { 
    border-collapse: collapse; 
    margin-top: 12px; 
    width: 100%; 
}
tr {
    border: 1px solid #ddd; 
    background-color: #f5f4f4;
    }
td { 
    padding: 8px;
}
h1 {
    font-size: 50px; 
    color: rgb(150, 0, 0); 
    text-align: center;
}
input[type=text], select {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}
button {  
    background-color: rgb(150, 0, 0);
    border: none;
    color: white;
    padding: 8px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.2s;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: red
} 
.kehys {
    margin-left: 15%; margin-right: 15%;
}
.valmis { 
    color: #999; 
    text-decoration: line-through; 
}
.poista-btn { 
    cursor: pointer; 
    color: rgb(110, 110, 110); 
    font-weight:500; 
    text-align: center; 
}
.poista-btn:hover {
    color: #e00; 
}
.checkbox-solu { 
    width: 48px; 
    text-align: center; 
}
.poista-solu { 
    width: 48px; 
    text-align: center; 
}
.virheboxi { 
    background-color: #e00;
}
.piilota {
    display: none
}
.lisanapit {
    display: none
}